<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> inserção de livros </title>
</head>
<body>
    <h1>Cadastre seu livro</h1>

    <form action="/cadastro" method="POST">
        <fieldset>
            <label for="name">
                Nome:
            </label>
            <input type="text" id="name" name="name" placeholder="nome">
        </fieldset>
        <fieldset>
            <label for="genero">
                Gênero:
            </label>
            <input type="text" id="genero" name="genero" placeholder="Gênero">
        </fieldset>
        <fieldset>
            <label for="valor">
                Valor:
            </label>
            <input type="text" id="valor" name="valor" placeholder="valor">
        </fieldset>
        <button>enviar</button>
    </form>
</body>
</html>